@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");
.Event-card{
    height: max-content;
    width: max-content;
    background-color: #FBFDFF1A;
    border-radius: 12.1968px;
}
.rectangle{
    height: 140px;
    width: 260px;
    border-radius: 12.1968px;
    padding: 9px 9px 0px 9px;
}
.line-1, .line-2-name{
    color: #FFFFFF;
    font-family: 'Metropolis';
}
.line-1{
    margin: 10px 0px 18px 10px;
    text-align: left;
}
.light-gray{
    color: #87838C;
    text-align: left;
    margin: 10px 0px 0px 10px;
}
.line-2-name, .light-gray{
    font-size: 0.9em;
    margin-top: 9px;
}
.red-btn{
    background: #DE4139;
    color: #FFFFFF;
    height: 30px;
    width:120px;
    font-family: 'Metropolis';
    margin: 25px 0px 25px 0px;
    border: none;
    border-radius: 4.69185px;
}
 